.flashcards-page {
	background: $light-gray;
	height: 100vh;
	display: flex;
	justify-content: center;
	
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;

}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 800px;
	height: 450px;
	position: absolute;
	top: 100px;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	color: $gray;

	h1 {
		font-size: 36px;
		align-self: center;
		
	}
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

ul.prev-next-buttons {
	align-self: flex-end;
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
	font-size: 48px;
	width: 200px;
	color: $turquoise;

}

div.inactive {
	opacity: .4;
}

button.active {

	&:hover {
		color: $yellow;
	}
}