div.user-folders {
	display: flex;
	justify-content: flex-start;
	background: $background-gray;

	div.main-content {
		background: $light-gray;
		width: 100vw;
		height: 100%;

		header {
			background: white;
			color: $gray;
		}
	}
}

div.folders-list {
	display: flex;
	justify-content: flex-start;
	width: 800px;
	padding-left: 50px;

}

a.folders-list-item {
	background: white;
	display: flex;
	flex-direction: column;
	width: 700px;
	margin-top: 20px;

	&:last-child {
		margin-bottom: 20px;
	}

	h2 {
		font-size: 28px;
		font-weight: bolder;
		letter-spacing: 1px;
		color: $gray;
		margin-left: 10px;
		padding: 10px;
		padding-left: 20px;

		i {
			margin-right: 10px;
			color: $nav-gray;
		}
	}

	h3 {
		margin-left: 30px;
	}

	&:hover {
		border-bottom: 5px solid $yellow;
	}
}