div.folder-show {
	display: flex;
	justify-content: flex-start;
	background: $background-gray;

	div.main-content-subheader {
		display: flex;
		flex-direction: column;
		
		
	}
	
	header {
		background: white;
		color: $gray;
		
		h1 {
			font-size: 48px;
		}

		i {
			margin-right: 40px;
		}
	}
}

div.main-content-header {
	display: flex;
	justify-content: space-between;
}

div.folder-description {
	display: flex;
	justify-content: flex-start;
	margin-left: 20px;
	h3 {
		padding-right: 5px;
	}
}

div.folder-nav {

	ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-right: 40px;
		margin-top: 40px;
	}

	button {
		display: flex;
		justify-content: center;
		align-content: center;
		background: $turquoise;
		font-size: 24px;
		color: white;
		margin-right: 10px;
		border-radius: 50%;
		width: 40px;
		height: 40px;

		a {
			display: flex;
			align-content: center;
		}
	}
}