div.folder-show {
	display: flex;
	justify-content: flex-start;
	background: $background-gray;

	div.main-content-subheader {
		display: flex;
		flex-direction: column;
		
		h2 {
			margin-left: 50px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		
	}
	
	header {
		background: white;
		color: $gray;
		padding: 0px;
		
	}
}

h1.folder-title {
	padding: 0px;
	margin-left: 50px;
	font-size: 36px;

	i {
		margin-right: 20px;
	}
}

div.main-content-folder-header {
	display: flex;
	justify-content: space-between;
	background: white;
}

div.folder-description {
	display: flex;
	justify-content: flex-start;
	margin-left: 50px;
	font-size: 15px;

	h3 {
		padding-right: 5px;
		
		&:last-child {
			letter-spacing: 1px;
			color: $turquoise;	
			font-weight: normal;
		}
	}
}

div.folder-nav {

	ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-right: 40px;
		margin-top: 40px;

	}

	button {
		display: flex;
		justify-content: center;
		align-content: center;
		background: $turquoise;
		font-size: 24px;
		color: white;
		margin-right: 10px;
		border-radius: 50%;
		width: 40px;
		height: 40px;

		&:hover {
			background: $yellow;
			color: $gray;
		}

		a {
			display: flex;
			align-content: center;
		}
	}
}

ul.study-sets-in-folder {
	padding-bottom: 20px;
	li {

		display: flex;
		justify-content: flex-end;
	}
}

button.remove-study-set-button {
	font-size: 36px;
	margin-top: 45px;
	height: 30px;
	margin-left: 10px;
	color: red;

	&:hover {
		color: $gray;;
	}
}