.static-header {
	display: flex;
	justify-content: space-between;
	
	h1 {
		padding: 20px;
	}

	ul {
		font-size: 14px;
		display: flex;
		justify-content: space-between;
		align-content: center;
		width: 150px;
		height: 40px;
		margin-top: 13px;

		#sign-up-button {
			background: $turquoise;
			padding-left: 20px;
			padding-right: 20px;
		}

		#log-out-button {
			margin-left: auto;
		}

	}

	#close-modal-button {
		color: pink;
	}


}