.static-header {
	display: flex;
	justify-content: space-between;
	
	
	h1 {
		padding: 20px;
	}

	ul {
		font-size: 14px;
		display: flex;
		justify-content: space-between;
		align-content: center;
		width: 200px;
		height: 40px;
		margin-top: 13px;

		#sign-up-button {
			background: $turquoise;
			padding-left: 20px;
			padding-right: 20px;

			&:hover {
				background: $yellow;
			}
		}

		#log-out-button {
			margin-left: auto;

			&:hover {
				color: $light-gray;
			}
		}

	}

	#close-modal-button {
		color: pink;
	}


}

div.middle-nav {
	display: flex;
	align-content: center;
	
	h2 {
		font-size: 15px;
		font-weight: 100;
		margin-top: 25px;
	}
}