.static-header {
	display: flex;
	justify-content: space-between;
	
	
	h1 {
		padding: 20px;
	}

	ul {
		font-size: 18px;
		display: flex;
		justify-content: space-between;
		align-content: center;
		width: 300px;
		height: 40px;
		margin-top: 13px;

		button {
			align-self: center;
			padding-left: 20px;
			padding-right: 20px;

			&:last-child {
				background: $turquoise;
				padding-top: 10px;
				padding-bottom: 10px;

				&:hover {
					background: $yellow;
				}
			}

			&:hover {
				color: $light-gray;
			}
		}

		#log-out-button {
			margin-left: auto;

			&:hover {
				color: $light-gray;
			}
		}

	}

	#close-modal-button {
		color: pink;
	}


}

div.middle-nav {
	display: flex;
	align-content: center;
	flex-direction: row;
	font-size: 18px;

	a {
		margin-top: 22px;
	}
	
	.create-nav {
		display: flex;
		justify-content: center;
		margin-right: 550px;

		span {
			margin-top: 6px;
			margin-right: 3px;
		}
	}

}