.session-form {
	margin: 0 auto;

	label {
		margin: 20px;
	}
}
.form-title {
	padding-left: 0px;

	h1 {
		padding-bottom: 20px;
		padding-top: 20px;
	}
}

.session-input {
	border-bottom: 3px solid $gray;
	font-size: 20px;
	width: 91%;
	margin-left: 20px;

	&:focus {
		border-bottom: 3px solid $yellow;
	}
}

.folder-input {
	border-bottom: 3px solid $gray;
	font-size: 20px;
	width: 91%;
	margin-left: 20px;
}

.form-input {
	margin-top: 20px;
	margin-bottom: 20px;
}

.input-label {
	margin-left: 20px;
}

input[type="submit"] {
	display: flex;
	color: white;
	background: $turquoise;
	font-size: 20px;
	padding: 20px 200px;
	margin: 0 auto;

	&:hover {
		background: $yellow;
		color: $gray;
	}
	
}

.session-errors {
	color: red;
	margin-left: 20px;
}
