div.welcome {
	color: $gray;
	h1 {
		position: absolute;
		left: 130px;
		top: 250px;
		font-size: 48px;
		width: 450px;
		text-align: right;
		font-weight: 900;
		color: $blue;
		letter-spacing: 2px;
	}
	h3 {
		position: absolute;
		left: 150px;
		top: 400px;
		width: 450px;
		text-align: right;
		font-size: 18px;
	}

	button {
		position: absolute;
		left: 320px;
		top: 500px;
		background: $turquoise;
		font-size: 18px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 100px;
		padding-right: 100px;
		color: white;

		&:hover {
			background: $yellow;
			color: $gray;
		}
	}


}
