div.study-set-show {
	display: flex;
	flex-direction: column;
	background: $light-gray;
	padding-bottom: 80px;



}

div.show-page-header {
	background: white;
	height: 250px;
	color: $gray;

	h1 {
		font-size: 60px;
		font-weight: bold;
		padding-left: 40px;
		padding-top: 0px;
	}

	p {
		margin-left: 40px;
		font-size: 18px;
	}
}

div.study-set-subinfo {
	display: flex;
	justify-content: flex-start;
	
	margin-left: 40px;
	margin-top: 20px;
	font-size: 14px;

	h3 {
		padding-right: 20px;
		border-right: 2px solid $light-gray;

	}
	a {
		padding-left: 20px;
		color: $turquoise;
		letter-spacing: 1px;

		h4 {
			margin-top: 17px;

			span {
				margin-right: 10px;
				color: $blue;
			}
		}
	}
}

div.study-set-header-nav {

	ul{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-left: 40px;
		margin-top: 20px;
	}

	button {
		background: $turquoise;
		font-size: 24px;
		color: white;
		margin-right: 10px;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		display: flex;
		justify-content: center;

		a {
			display: flex;
			align-content: center;
		}

		&:hover {
			background: $yellow;
			color: $gray;
		}



	}
}

div.study-set-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.study-set-cards-list {
	ul {
		display: flex;
		flex-direction: column;
		width: 1000px;
		margin-top: 20px;
		margin-left: 20px;
		font-size: 15px;
		color: $gray;
	}
}

div.card-item {
	display: flex;
	justify-content: flex-start;
	background: white;
	padding: 20px;
	margin: 5px;
	

	div.card-term {
		display: flex;
		width: 350px;
		border-right: 2px solid $light-gray;

		
	}
	h3 {
		margin-left: 20px;
	}

}

div.add-remove-terms{
	display: flex;
	justify-content: center;
	
	#add-remove-terms-button {
		font-size: 18px;
		font-weight: bold;
		color: white;
		letter-spacing: 1px;
		background: $turquoise;
		padding: 20px;
		padding-left: 80px;
		padding-right: 80px;
		margin-top: 80px;

		&:hover {
			background: $yellow;
			color: $gray;
		}
	}

}
