div.study-set-form {
	display: flex;
	flex-direction: column;

	input {
		font-size: 18px;
	}
}

div.study-set-description {
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	input {
		padding-bottom: 5px;
		border-bottom: 3px solid $gray;
		width: 500px;
	}
	label {
		margin-left: 20px;
	}
	padding-bottom: 20px;
}

div.study-set-description-header {
	display: flex;
	justify-content: space-between;
	align-content: flex-end;

	h1 {
		font-weight: 900;
		font-size: 28px;
		
	}
	

	button {
		background: $turquoise;
		color: white;
		font-size: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-right: 40px;
		padding-left: 20px;
		padding-right: 20px;

		&:hover {
			background: $yellow;
			color: $gray;
		}
	}
}
div.study-set-cards-form {
	display: flex;
	flex-direction: column;
	background: $background-gray;
	padding-bottom: 20px;
}

ul.cards-form-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.card-form {
	background: white;
	display: flex;
	justify-content: space-around;
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px;

	input {
		border-bottom: 2px solid $gray;
		width: 400px;
	}
}

button.add-card {
	background: white;
	display: flex;
	justify-content: center;
	width: 1000px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 20px;
	// margin-left: 120px;
	
	h2 {
		font-size: 18px;
		padding-bottom: 10px;
		border-bottom: 5px solid $turquoise;
	}

	&:hover {
		color: $yellow;
		
	}

}

button.submit {
	align-self: center;
	background: $turquoise;
	color: white;
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 80px;
	padding-right: 80px;


	&:hover {
		background: $yellow;
		color: $gray;
	}
}