div.study-set-show {
	display: flex;
	flex-direction: column;
	background: $light-gray;
	padding-bottom: 80px;



}

div.show-page-header {
	background: white;
	height: 200px;
	color: $gray;
	display: flex;
	justify-content: space-between;

	h1 {
		font-size: 60px;
		font-weight: bold;
		padding: 0;
	}

	p {
		margin-left: 40px;
		font-size: 18px;
	}
}

div.study-set-information {
	display: flex;
	flex-direction: column;
	margin-left: 60px;
	align-content: space-between;
}

div.study-set-subinfo {
	display: flex;
	justify-content: flex-start;
	
	font-size: 14px;

	h3 {
		padding-right: 20px;
		border-right: 2px solid $light-gray;
		align-self: center;

	}
	a {
		padding-left: 20px;
		color: $turquoise;
		letter-spacing: 1px;

		h4 {
			span {
				margin-right: 10px;
				color: $blue;
			}
		}
	}
}

div.study-set-header-nav {

	ul{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 20px;
		width: 180px;
	}

	button {
		background: $turquoise;
		font-size: 24px;
		color: white;
		margin-right: 10px;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		display: flex;
		justify-content: center;

		a {
			display: flex;
			align-content: center;
		}

		&:hover {
			background: $yellow;
			color: $gray;
		}



	}
}

.flashcards-link {
	align-self: center;
}

button.button-to-flashcards {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 125px;
	height: 125px;
	align-self: center;
	margin-right: 100px;
    -webkit-box-shadow: 0 0 5px 3px $light-gray;
    -moz-box-shadow: 0 0 5px 3px $light-gray;
    box-shadow: 0 0 5px 3px $light-gray;
	color: turquoise;
	border-bottom: 5px solid $turquoise;
	
	div.flashcard-icon {
		align-self: center;
		font-size: 60px;
		margin-left: 20px;
	}

	h2 {
		align-self: center;
		margin-left: 20px;
		font-size: 15px;
		margin-bottom: 10px;
	}

	&:hover {
		border-bottom: 5px solid $yellow;

		h2 {
			color:$yellow;
		}
	}
}

div.study-set-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.study-set-cards-list {
	ul {
		display: flex;
		flex-direction: column;
		width: 1000px;
		margin-top: 20px;
		margin-left: 20px;
		font-size: 15px;
		color: $gray;
	}
}

div.card-item {
	display: flex;
	justify-content: flex-start;
	background: white;
	padding: 20px;
	margin: 5px;
	margin-left: 40px;
	

	div.card-term {
		display: flex;
		width: 350px;
		border-right: 2px solid $light-gray;

		
	}
	h3 {
		margin-left: 20px;
		align-self: center;
	}

}

div.card-definition {
	display: flex;
	width: 580px;
}

div.add-remove-terms{
	display: flex;
	justify-content: center;
	
	#add-remove-terms-button {
		font-size: 18px;
		font-weight: bold;
		color: white;
		letter-spacing: 1px;
		background: $turquoise;
		padding: 20px;
		padding-left: 80px;
		padding-right: 80px;
		margin-top: 80px;

		&:hover {
			background: $yellow;
			color: $gray;
		}
	}

}
