div.study-set-show {
	background: $light-gray;
}

div.user-homepage {
	display: flex;
	justify-content: flex-start;
	background: $background-gray;
	min-height: 100vh;


	div.main-content {
		background: $light-gray;
		width: 100vw;
		
		
		header {
			background: white;
			color: $gray;
		}
	}
}

div.main-content-info {
	display: flex;
	flex-direction: row;
	background: white;

	span {
		align-self: center;
		font-size: 80px;
		margin-left: 50px;
		color: $blue;
	}
}



div.main-content-header {
	display: flex;
	background: white;
	height: 150px;

}

nav.user-nav {
	
	ul {
		display: flex;
		font-size: 15px;
		margin-left: 45px;
		color: $turquoise;
		border: 3px solid $light-gray;
		width: 190px;
		li {
			padding: 10px;

			&:first-child {
				border-right: 3px solid $light-gray;
			}

			&:hover {
				color: $yellow;
			}
		}

	}
}

div.term-count {
	display: flex;
	justify-content: flex-start;
	border-bottom: 3px solid $blue;
	border-right: 1px solid $gray;
	width: 800px;

	h2 {
		padding: 10px;
	}
}

div.study-sets-list {
	display: flex;
	justify-content: flex-start;
	width: 800px;
	padding-left: 50px;

	h2 {
		color: $blue;
		padding: 10px;
		padding-left: 20px;
	}

}

a.study-sets-list-item {
	background: white;
	display: flex;
	flex-direction: column;
	width: 700px;
	margin-top: 20px;

	&:last-child {
		margin-bottom: 20px;
	}

	h2 {
		font-size: 28px;
		font-weight: 900;
		letter-spacing: 1px;
		color: $gray;
		margin-left: 10px;
		padding-top: 0;
	}

	&:hover {
		border-bottom: 5px solid $yellow;
	}

	div.study-set-subinfo {
		margin: 0;
		margin-left: 30px;
		height: 55px;

		h4:hover {
			color: $yellow;
		}
	}
	
}