// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
	background: #2e41a5;
	display: flex;
	justify-content: space-between;
	height: 100%;
	padding-left: 40px;
	padding-right: 40px;

	h1 {
		color: white;
		font-family: Century Gothic;
		font-size: 24px;
	}

	// ul {

	// 	justify-content: center;
	// 	align-content: center;

	// }
}